<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- MYSQL DATA SOURCE AND PROPS -->
	<bean id="data.source"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/dao_test"/>
		<property name="username" value="root"/>	
	</bean>

	<util:properties id="data.hibernate.properties">
		<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
		<prop key="hibernate.show_sql">true</prop>
		<prop key="hibernate.hbm2ddl.auto">create</prop>
	</util:properties>

	<bean id="transactionManager" 
          class="org.springframework.orm.hibernate3.HibernateTransactionManager" depends-on="sessionFactory">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

	<bean id="busDao" class="com.brov0010.dao.model.dao.BusDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="personDao" class="com.brov0010.dao.model.dao.PersonDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
